REPO="Repository Slug (owner/repo format)"
ORG="Organization Slug"
FEATURES="dependabot, code-scanning, secret-scanning"
FREQUENCY="weekly"
GITHUB_TOKEN="token (PAT or APP)"
GITHUB_ACTION="true"
RUN_USING_ACT="true"