name: "Regression Testing with GitHub App token"
on:
  push:
    branches:
      - main

jobs:
  regression-test:
    name: Regression Testing with GitHub App token
    runs-on: ubuntu-20.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
        with:
          path: ghas-metrics-report
      - name: Get Token
        id: get_workflow_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
      - name: Test Action
        uses: ./ghas-metrics-report
        env:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        with:
          repo: "ghas-metrics-report"
          org: "theztefan"
          features: "dependabot, code-scanning, secret-scanning"
          frequency: "daily"
          output-format: "json, pdf, issues"
      - name: upload GHAS metrics report
        uses: actions/upload-artifact@v4
        with:
          name: ghas-metrics-report
          path: ghas-metrics-report/dist/report.json
